<div class="card mb-5 mt-5 pb-5 shadow-effect">
  <div class="card-body">
    <h4 class="mt-3 mb-3">Comments(15,255)</h4>
    <div class="comment-box mt-3">
      <h6 class="mb-0">Sunny</h6>
      <small class="text-danger">LAST UPDATED - SEP 20,2023</small>
      <div class="mt-3 mb-3">
        Sometimes, your project might contain some library that could interfere
        with the bootstrap framework, or you might have a customized version of
        bootstrap. The consequence is that the process of determining bootstrap
        version might be failed, which can break the UI.
      </div>
      <a href="#" class="mt-1">Reply</a>
      <a href="#" class="mt-1">View Reply</a>
      <hr />
    </div>
  </div>
</div>
