<div class="card shadow-effect">
  <img
    src="https://images.pexels.com/photos/2693208/pexels-photo-2693208.png?auto=compress&cs=tinysrgb&w=600"
    alt="post-image"
    class="card-img-top"
  />
  <div class="card-body">
    <small class="bg-light text-danger text-center ml-3"> Design </small>
    <small class="bg-light text-success text-center ml-3"> Featured </small>
    <small class="bg-light text-info text-center ml-3"> Views - 100,256 </small>

    <h5 class="mt-1">How to use Angular Bootstrap ?</h5>
    <p>
      Sometimes, your project might contain some library that could interfere
      with the bootstrap framework, or you might have a customized version of
      bootstrap. The consequence is that the process of determining bootstrap
      version might be failed, which can break the UI.
    </p>
    <small class="bg-light text-warning text-center ml-3">
      LAST UPDATED - SEP 20, 2023
    </small>
  </div>
</div>
